/assets/
/bin/
/crash-reports/
/launcher/
/libraries/
/logs/
/marytts/
/mods/
/mods-inactive/
/saves/
/screenshots/
/shaderpacks/
/versions/
/webcache*/

/crafttweaker.log
/*.json
/options*
/*.conf
/*log.txt
/*.so
/*.dll
/servers.dat

/config/jei/worldSettings.cfg
/config/buildcraft/detailed.properties
/config/splash.properties
